<div class="create-view">

	<div class="row">
		<h2 class="col-sm-12">
			<i class="fa fa-plus"></i> Create Order
		</h2>
	</div>


	<form>
	    
	    
		<div class="form-group">
			<h6> Customer Name : </h6><input type="text"
				class="form-control" id="name" ng-model="OrdersModel.order.orderInput.name"
				placeholder="Enter customer name" required/>
		</div>

		<div class="form-group">
			<h6>Arrangement : </h6> <select class="form-control" id="arrangement"
				name="arrangement" ng-model="OrdersModel.order.orderInput.arrangement" required>
				<option value="Standard" selected>Standard</option>
				<option value="Premium">Premium</option>
				<option value="Outdoor">Outdoor</option>
			</select>
		</div>

		<div class="form-group">
		<h6>Subtotal : </h6><input type="number" class="form-control"
				id="subtotal" name="subtotal" ng-model="OrdersModel.order.orderInput.subtotal"
				placeholder="Enter subtotal" required/>
		</div>

		</br>

		<button id="btnSubmit" class="btn btn-success" ng-click="getCalcs()">Get
			Total</button>
		</br>
</br>
			<div class="form-group">
				<h6>Discount : </h6><span class="discount" id="discount">{{OrdersModel.order.calcOutput.discount}}</span>
			</div>


			<div class="form-group">
				<h6>Taxes : </h6><span  class="tax" id="tax">{{OrdersModel.order.calcOutput.tax}}</span>
			</div>

			<div class="form-group">
				<h6 >Total : </h6><span class="total"  id="total">{{OrdersModel.order.calcOutput.total}}</span>
			</div>


			</br>
			<button id="btnClear" class="btn btn-success" ng-click="add()">Start
				a New Order</button>
			</br>
	</form>



</div>